@model DinoPetStore.EF.KICHTHUOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KICHTHUOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
            Tên Kích Thước 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKICHTHUOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại trang quản lý", "Index")
</p>
