@model DinoPetStore.EF.HINH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT HÌNH</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label><strong>Tên Sản Phẩm:</strong></label><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>
        <dt>
            <label><strong>Hình Ảnh:</strong></label><br />
        </dt>

        <dd>
            <img src="@Url.Content("~/img/"+  Model.HINH1)" width="420px" />
        </dd>

    </dl>
</div>

<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", "Hinh", new { id = Model.MAHINH })" class="btn btn-success">Sửa</a> |
    <a href="@Url.Action("Index", "Hinh")" class="btn btn-primary">Quay Lại Trang Quản Lý</a>
</div>