
@{ ViewBag.Title = "Chi tiết đơn hàng - Dino Store";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

@*Chi Tiết Đơn hàng*@
<div class="title_ne1"></div>
<h2 style="padding-top:10px">CHI TIẾT ĐƠN HÀNG</h2>
<br />
<input type="hidden" id="txtMADH" value="@ViewBag.MADH" />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">CHI TIẾT ĐƠN HÀNG</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        getListOrder();
    });
    function getListOrder() {
        var madh = $("#txtMADH").val();
        $.ajax({
            type: "GET",
            url: "/DONHANG/GetListOrder",
            data: { "MADH": madh },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (typeof (data) == 'object') {
                    $('#dataTable').DataTable({ 
                        data: data, //data trả về từ server
                        searching: false, 
                        stateSave: false,
                        "bDestroy": true,
                        columns: [ 
                            {
                                title: 'Trạng thái',
                                data: "TRANGTHAI", 
                                "render": function (data, type, row) { 
                                    if (data == "NEW") {
                                        return `<span style="cursor:pointer" onClick = ChangStatusOrder('${row.MADH}','${row.TRANGTHAI}') class = 'label label-info'>Chờ xác nhận</span`
                                    };
                                    if (data == "APPROVAL") {
                                        return `<span style="cursor:pointer" onClick = ChangStatusOrder('${row.MADH}','${row.TRANGTHAI}') class = 'label label-warning'>Đã xác nhận</span`
                                    };
                                    if (data == "REJECT") {
                                        return `<span class = 'label label-danger'>Từ chối</span`
                                    }
                                    if (data == "DELIVERY") {
                                        return `<span style="cursor:pointer" onClick = ChangStatusOrder('${row.MADH}','${row.TRANGTHAI}') class = 'label label-primary'>Đang giao hàng</span`
                                    };
                                    if (data == "SUCCESS") {
                                        return `<span class = 'label label-success'>Giao thành công</span`
                                    };
                                    if (data == "RETURN") {
                                        return `<span class = 'label label-danger'>Trả về</span`
                                    };
                                }
                            },
                            { title: 'Mã ĐH', data: "MADH" }, 
                            { title: 'Mã SP', data: "MASP" },
                            { title: 'Sản phẩm', data: "TENSP" },
                            {
                                title: 'Hình ảnh',
                                data: "HINHANH",
                                "render": function (data, type, row) {
                                    return `<img src='/img/${data}' style= "width:150px;height:150px" />`;
                                }
                            },
                            { title: 'Số lượng', data: "SOLUONG" },
                            { title: 'Đơn giá', data: "DONGIA" },
                            { title: 'Thành tiền', data: "THANHTIEN" }
                        ],
                    });
                } else {
                    ToastNotify(data, "warning");
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function ChangStatusOrder(MADH, status) {
        var content = "";
        var btnok = "";
        var btnCanel = "";
        var nextOKStatus = "";
        var nextCancelStatus = "";
        if (status == "NEW") {
            content = "Bạn có muốn xác nhận hoặc từ chối đơn hàng?"
            btnok = "Xác nhận";
            btnCanel = "Từ chối";
            nextOKStatus = "APPROVAL";
            nextCancelStatus = "REJECT";
        }
        if (status == "APPROVAL") {
            content = "Bạn có muốn giao đơn hàng này không?"
            btnok = "Giao hàng";
            btnCanel = "Từ chối";
            nextOKStatus = "DELIVERY";
            nextCancelStatus = "REJECT";
        }
        if (status == "DELIVERY") {
            content = "Giao hàng thành công/Trả về!"
            btnok = "Thành công";
            btnCanel = "Trả về";
            nextOKStatus = "SUCCESS";
            nextCancelStatus = "RETURN";
        }
        var frm = $.confirm({
            title: 'Thông báo',
            content: `${content}`,
            buttons: {
                ok: {
                    text: `${btnok}`,
                    btnClass: 'btn-success',
                    keys: ['enter', 'shift'],
                    action: function () {
                        UpdateStatus(MADH, nextOKStatus);
                    }
                },
                cancel: {
                    text: `${btnCanel}`,
                    btnClass: 'btn-danger',
                    action: function () {
                        UpdateStatus(MADH, nextCancelStatus);
                    }
                },
                close: {
                    text: 'Đóng',
                    action: function () {
                    }
                }
            }
        });
    }
    function UpdateStatus(MADH, TRANGTHAI) {
        $.ajax({
            type: "GET",
            url: "/DONHANG/UpdateStatus",
            data: { "MADH": MADH, "status": TRANGTHAI },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == 'success') {
                    ToastNotify("Cập nhật trạng thái thành công", "success");
                    getListOrder();
                } else {
                    ToastNotify(data, "warning");
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        });
    }

   </script>