

@{ ViewBag.Title = "Trang quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<div class="row form-group-sm">
    <div class="col-sm-12">
        <div class="col-sm-1">
            <label>Từ ngày</label>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" id="fromDate" />
        </div>
        <div class="col-sm-1">
            <label>Đến ngày</label>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" id="toDate" />
        </div>
        <div class="btn btn-group btn-sm col-sm-2" style="padding-top: 0px;">
            <a href="@Url.Action("Create", "SanPham")" class="btn btn-sm btn-success">THÊM MỚI</a>
            <button class="btn btn-sm btn-info" id="btnsearch">TÌM KIẾM</button>
        </div>
    </div>

</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">DANH SÁCH SẢN PHẨM</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table id="datatable" class="display" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#fromDate').datepicker({
            format: "dd/mm/yyyy"
        });

        $('#toDate').datepicker({
            format: "dd/mm/yyyy"
        });

        $("#btnsearch").on("click", function () {
            searchData();
        });
        searchData();

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    });
    function searchData() {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        var keyWord = $("#txtKeyWord").val();

        $.ajax({
            type: "GET",
            url: "/SanPham/SearchDataProduct",
            data: { "fromDate": fromDate, "toDate": toDate, "keyWord": keyWord },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var tbl = $('#datatable').DataTable({
                    data: data,
                    searching: true,
                    stateSave: true,
                    "bDestroy": true,
                    columns: [
                        { title: 'Tên Sản Phẩm', data: "TENSP" },
                        { title: 'Giá Mua', data: "DONGIAMUA" },
                        { title: ' Giá Bán', data: "DONGIABAN" },
                        { title: 'Thương Hiệu', data: "TENTH" },
                        { title: 'Loại', data: "MALOAI" },
                        { title: 'Tồn Kho', data: "SOLUONG" },
                        {
                            title: 'Ảnh Bìa',
                            data: "HINHANH",
                            "render": function (data, type, row) {
                                return `<img src='/img/${data}' style= "width:60px;height:60px" />`;
                            }
                        },
                        { title: ' Mô Tả', data: "MOTA" },
                        {
                            data: null,
                            defaultContent: `<a href = "#"><i class="fa fa-edit" style = "color: blue;"></i></a>`,
                            className: 'row-edit dt-center'
                        },
                        {
                            data: null,
                            defaultContent: '<i class="fa fa-trash" style = "color: red;"  />',
                            className: 'row-remove dt-center'
                        },
                    ],
                });

                $('#datatable').on('click', 'tbody td.row-edit', function (e) {
                    var objData = tbl.row(this).data();
                    window.location.href = `/Admin/SanPham/Edit?Id=${objData.MASP}`;
                });

                $('#datatable').on('click', 'tbody td.row-remove', function (e) {
                    var objData = tbl.row(this).data();
                    var frm = $.confirm({
                        title: 'Thông báo',
                        content: `Bạn có chắc chắn muốn xóa sản phẩm không?`,
                        buttons: {
                            ok: {
                                text: 'Đồng ý',
                                btnClass: 'btn-success',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    deleteProduct(frm, objData.MASP);
                                }
                            },
                            cancel: {
                                text: 'Hủy',
                                btnClass: 'btn-blue',
                                action: function () {

                                }
                            }
                        }
                    });


                });
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    function deleteProduct(frm, Id) {
        $.ajax({
            type: "GET",
            url: "/Admin/SanPham/deleteSP",
            data: { "Id": Id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "success") {
                    searchData();
                    ToastNotify("Xóa dữ liệu thành công", "success");
                    frm.close();
                } else if (data == "forgetsession") {
                    window.location.href = "/Admin/Admin/dangnhap";
                } else {
                    ToastNotify(data, "warning");
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }

        });
    }
</script>








