@model DinoPetStore.EF.ADMIN

@{
    ViewBag.Title = "Trang thêm mới admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG THÊM MỚI ADMIN</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding: 10px">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label><strong>Họ Tên:</strong></label>
            <div >
                <input class="input-full" required="required" htmlattributes="{ class = form-control }" id="HOTEN" name="HOTEN" type="text" value="" placeholder="Nhập họ tên">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Email: </strong></label>
            <div >
                <input class="input-full" required="required" htmlattributes="{ class = form-control }" id="EMAIL" name="EMAIL" type="email" value="" placeholder="Nhập e-mail">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Số Điện Thoại:</strong></label>
            <div >
                <input class="input-full" required="required" htmlattributes="{ class = form-control }" id="DIENTHOAI" name="DIENTHOAI" type="text" value="" placeholder="Nhập số điện thoại">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Loại: </strong></label>
            <div >
                <input class="input-full" required="required" htmlattributes="{ class = form-control }" id="TENLOAI" name="TENLOAI" type="text" value="" placeholder="Nhập loại">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Tên Đăng Nhập: </strong></label>
            <div >
                <input class="input-full" required="required" htmlattributes="{ class = form-control }" id="TENDN" name="TENDN" type="text" value="" placeholder="Nhập tên đăng nhập">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Mật Khẩu: </strong> </label>
            <div >
                <input class="input-full" Required="required" maxlength="20" min-length="6" pattern="[A-Za-z0-9]+" htmlattributes="{ class = form-control }" id="MATKHAU" name="MATKHAU" type="password" placeholder="Nhập mật khẩu">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Avatar: </strong> </label>
            <div >
                <input class="form-control text-box single-line" Required="required" id="fileUp" name="fileUp" type="file" value="">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Địa Chỉ:</strong></label>
            <div >
                @Html.TextAreaFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check">

                        </i>
                    </span>
                    <span class="text">Thêm Mới</span>
                </button> |

                <a href="@Url.Action("listadmin", "Admin")" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Huỷ</span>
                </a>
            </div>
        </div>
    </div>

}
