
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">VỀ DINO</h3>
        <div class="about-agileinfo w3layouts">
            <div class="col-md-8 about-wthree-grids grid-top">
                <h4>Được sinh ra để phục vụ các cún yêu </h4>
                <p class="top">Dino's Pet Store là nhãn hiệu độc quyền của Công ty TNHH MTV Thanh Nguyen đã được Cục sở hữu trí tuệ cấp Giấy chứng nhận nhãn hiệu hàng hóa. Dino's Pet Store bán những sản phẩm cho cún cưng của bạn .</p>
                <p>Dino's Pet Store cung cấp những mặc hàng như :
                    <ul style="list-style-type: circle;  margin: 23px; padding-inline: inherit">
                        <li>Thức Ăn Cho Chó</li>
                        <li>Thức Ăn Cho Mèo</li>
                        <li>Quần Áo Cho Chó</li>
                        <li>Quần Áo Cho Mèo</li>
                        <li>Phụ Kiện Vệ Sinh</li>
                        <li>Và Nhiều Món Khác..</li>
                    </ul>
                </p>
                <br />
                <div class="about-w3agilerow" style="margin-top: 22px">
                    <div class="col-md-4 about-w3imgs">
                        <img src="~/img/blog-image/2.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="col-md-4 about-w3imgs">
                        <img src="~/img/blog-image/3.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="col-md-4 about-w3imgs">
                        <img src="~/img/blog-image/4.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 about-wthree-grids">
                <div class="offic-time">
                    <div class="time-top">
                        <h4>DINO's PET STORE :</h4>
                    </div>
                    <div class="time-bottom">
                        <h5>Cửa hàng thú cưng </h5>
                        <p>Uy Tín - Chất Lượng - Giá Rẻ. </p>
                    </div>
                </div>
                <div class="testi">
                    <h3 class="w3_agile_header">Slogan</h3>
                    <!--//End-slider-script -->
                    <script src="~/Asses/User/js/responsiveslides.min.js"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 5
                            $("#slider5").responsiveSlides({
                                auto: true,
                                pager: false,
                                nav: true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
                    </script>
                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider5">
                            <li>
                                <div class="testi-slider">
                                    <h4>" Xem cún cưng như một người bạn.</h4>
                                    <p>Chúng tôi sẽ chăm cún của bạn như một ông/bà hoàng.</p>
                                    <div class="testi-subscript">
                                        <p><a href="mailto:thng1701@gmail.com">Thanh Nguyen,</a>CEO</p>
                                        <span class="w3-agilesub"> </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testi-slider">
                                    <h4>" Treat your dog like a friend.</h4>
                                    <p>We will take care of your dog like a king.</p>
                                    <div class="testi-subscript">
                                        <p><a href="mailto:thng1701@gmail.com">Thanh Nguyen,</a>CEO</p>
                                        <span class="w3-agilesub"> </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testi-slider">
                                    <h4>" Traitez votre chien comme un ami. </h4>
                                    <p>Nous prendrons soin de votre chien comme un roi.</p>
                                    <div class="testi-subscript">
                                        <p><a href="mailto:thng1701@gmail.com">Thanh Nguyen,</a>CEO</p>
                                        <span class="w3-agilesub"> </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- about-slid -->
<div class="about-slid agileits-w3layouts" style=" background: url('../../img/banner-image/1.jpg')no-repeat 0px center fixed; ">
    <div class="container">
        <div class="about-slid-info">
            <p>hihi</p>
        </div>
    </div>
</div>
<!-- //about-slid -->
<!-- about-team -->
<div class="about-team">
    <div class="container">
        <h3 class="w3_agile_header">Owner Of Dino</h3>
        <div class="team-agileitsinfo">
            <div class="col-md-3 about-team-grids" >
                <img src="~/img/test-ava.jpg" alt="avartar" style="height: 270px" />
                <div class="team-w3lstext">
                    <h4><span>Thanh Nguyen,</span> OWNER</h4>
                    <p>Công Nghệ Thông Tin - CLC - F1.</p>
                    <p>MSSV : <strong>B1807525</strong>.</p>
                    <p>Cần Thơ.</p>
                </div>
                <div class="social-icons caption">
                    <ul>
                        <li><a href="https://www.facebook.com/thng1701" class="fa fa-facebook facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                        <li><a href="https://myaccount.google.com/profile" class="fa fa-google-plus googleplus"> </a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about-team -->
