
@foreach (var item in Model)
{
    <ul class="no-bullets">
        <li>
            <a href="/User/SPTheoloai?maloai=@item.MALOAI&page=1&pageSize=6" class="no-bullets"> @item.TENLOAI </a>
        </li>
    </ul>
}

