@model DinoPetStore.Models.QuenMKModel
@{
    ViewBag.Title = "Biểu Mẫu Đặt Lại Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="container">
        <h1>Quên Mật Khẩu</h1>
        <p> Vui lòng nhập email để khôi phục mật khẩu của bạn!</p>


        <h4 style="color:red; text-align:center"> @ViewBag.message</h4>
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            @using (Html.BeginForm("QuenMK", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Nhập vào email của bạn" })
                <input type="submit" value="Gửi" class="btn btn-default" />


            }
        </div>
    </div>
</div>

<style type="text/css" >
    h1 {
        text-align: center;
        padding-bottom: 10px
    }
</style>