
@foreach (var item in Model)
{
    <ul class="no-bullets">
        <li>
            <a href="/User/SPTheothuonghieu?math=@item.MATH&page=1&pageSize=6" class="no-bullets"> @item.TENTH </a>
        </li>
    </ul>
}


