
@{
    ViewBag.Title = "Thông báo - Dino Pet Store";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- 404 Error Text -->
  <div class="text-center">
       <div class="error mx-auto">Bạn Không Có Quyền Truy Cập</div>
  </div>

          
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

 

    <!-- Bootstrap core JavaScript-->
    <script src="~/Asses/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Asses/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Asses/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Asses/Admin/js/sb-admin-2.min.js"></script>


