@model DinoPetStore.EF.GIAMGIA

@{
    ViewBag.Title = "Xóa Sản Phẩm Giảm Giá";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Sản Phẩm Giảm Giá</h2>

<h3 style="color: red;">Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
            Phần Trăm Giảm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHAMTRAMGIAM)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <a href="@Url.Action("Index", "GiamGia")" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span class="text">Huỷ</span>
            </a>
        </div>
    }
</div>
