@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<DinoPetStore.EF.GIAMGIA>

@{
    ViewBag.Title = "Quản Lý Sản Phẩm Giảm Giá";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 style="width: 100%; padding-top:20px;">
    <u>
        <a href="@Url.Action("Create", "GiamGia")" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <img src="~/img/icons/add.png" />
            </span>
            <span class="text">THÊM MỚI SẢN PHẨM GIẢM GIÁ</span>
        </a>
    </u>
</h4>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">SẢN PHẨM GIẢM GIÁ</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="datatable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        getGiam();
    });
    function getGiam() {

        $.ajax({
            type: "GET",
            url: "/GiamGia/getGiam",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var tbl = $('#datatable').DataTable({
                    data: data,
                    searching: false,
                    stateSave: true,
                    "bDestroy": true,
                    columns: [
                        { title: 'Mã Giảm Giá', data: "MAGIAMGIA"},
                        { title: 'Mã Sản Phẩm', data: "MASP" },
                        { title: 'Tên Sản Phẩm', data: "TENSP" },
                        {
                            title: 'Từ Ngày', data: "TUNGAY",
                            "render": function (data, type, row) {
                                var strNNK = convertJsonToDate(data);
                                return `<span>${strNNK}</span`
                            }
                        },
                        {
                            title: 'Đến Ngày', data: "DENNGAY",
                            "render": function (data, type, row) {
                                var strNNK = convertJsonToDate(data);
                                return `<span>${strNNK}</span`
                            }
                        },
                        { title: 'Phần Trăm Giảm', data: "PHAMTRAMGIAM" },
                            {
                                data: null,
                                defaultContent: `<a href = "#"><i class="fa fa-edit" style = "color: blue;"></i></a>`,
                                className: 'row-edit dt-center'
                        },
                        {
                            data: null,
                            defaultContent: '<i class="fa fa-trash" style = "color: red;"  />',
                            className: 'row-remove dt-center'
                        },
                        ],

                    });

                    $('#datatable').on('click', 'tbody td.row-edit', function (e) {
                        var objData = tbl.row(this).data();
                        window.location.href = `/Admin/DonHang/Edit?Id=${objData.MAGIAMGIA}`;
                    });

                    $('#datatable').on('click', 'tbody td.row-remove', function (e) {
                        var objData = tbl.row(this).data();
                        var frm = $.confirm({
                            title: 'Thông báo',
                            content: `Bạn có chắc chắn muốn xóa giảm giá không?`,
                            buttons: {
                                ok: {
                                    text: 'Đồng ý',
                                    btnClass: 'btn-success',
                                    keys: ['enter', 'shift'],
                                    action: function () {
                                        deleteProduct(frm, objData.MAGIAMGIA);
                                    }
                                },
                                cancel: {
                                    text: 'Hủy',
                                    btnClass: 'btn-blue',
                                    action: function () {

                                    }
                                }
                            }
                        });


                    });



            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    function deleteProduct(frm, Id) {
        $.ajax({
            type: "GET",
            url: "/Admin/GiamGia/deleteGiamGia",
            data: { "Id": Id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "success") {
                    getGiam();
                    ToastNotify("Xóa dữ liệu thành công", "success");
                    frm.close();
                }
                else if (data == "forgetsession") {
                    window.location.href = "/Admin/Admin/dangnhap";
                }

                else {
                    ToastNotify(data, "warning");
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }

        });
    }


</script>