@model DinoPetStore.EF.MAUSAC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT MÀU SẮC</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên màu sắc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMAUSAC)
        </dd>

    </dl>
</div>


<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", "MauSac", new { id = Model.MAMAUSAC })" class="btn btn-success">Sửa</a> |
    <a href="@Url.Action("Index", "MauSac")" class="btn btn-primary">Quay Lại Trang Quản Lý</a>
</div>


