@using DinoPetStore.EF
@using PagedList.Mvc
@using PagedList
@model PagedList.PagedList<DinoPetStore.EF.THUONGHIEU>
@{
    ViewBag.Title = "Danh Sách Thương Hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:10px">DANH SÁCH THƯƠNG HIỆU</h2>

<br />
<input type="hidden" id="txtMATH" value="@ViewBag.MATH" />


<div class="row form-group-sm">
    <div class="btn btn-group btn-sm col-sm-2" style="padding-top: 0px;">
        <a href="@Url.Action("Create", "ThuongHieu")" class="btn btn-sm btn-success">THÊM MỚI THƯƠNG HIỆU</a>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">DANH SÁCH THƯƠNG HIỆU</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                      <div class="col-sm-12">
                           <table class="table table-bordered dataTable" id="datatable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        getListThuongHieu();
    });
    function getListThuongHieu() {

        $.ajax({
            type: "GET",
            url: "/ThuongHieu/getListTH",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                    var tbl = $('#datatable').DataTable({
                        data: data,
                        searching: false,
                        stateSave: true,
                        "bDestroy": true,
                        columns: [
                            { title: 'Mã Thương Hiệu', data: "MATH" },
                            { title: 'Tên Thương Hiệu', data: "TENTH" },
                            {
                                title: 'LOGO',
                                data: "LOGO",
                                "render": function (data, type, row) {
                                    return `<img src='/img/${data}' style= "width:60px;height:60px" />`;
                                }
                            },
                            {
                                data: null,
                                defaultContent: `<a href = "#"><i class="fa fa-edit" style = "color: blue;"></i></a>`,
                                className: 'row-edit dt-center'
                            },
                            {
                                data: null,
                                defaultContent: '<i class="fa fa-trash" style = "color: red;"  />',
                                className: 'row-remove dt-center'
                            },
                        ],

                    });

                    $('#datatable').on('click', 'tbody td.row-edit', function (e) {
                        var objData = tbl.row(this).data();
                        window.location.href = `/Admin/ThuongHieu/Edit?Id=${objData.MATH}`;
                    });

                    $('#datatable').on('click', 'tbody td.row-remove', function (e) {
                        var objData = tbl.row(this).data();
                        var frm = $.confirm({
                            title: 'Thông báo',
                            content: `Bạn có chắc chắn muốn xóa không?`,
                            buttons: {
                                ok: {
                                    text: 'Đồng ý',
                                    btnClass: 'btn-success',
                                    keys: ['enter', 'shift'],
                                    action: function () {
                                        deleteProduct(frm, objData.MATH);
                                    }
                                },
                                cancel: {
                                    text: 'Hủy',
                                    btnClass: 'btn-blue',
                                    action: function () {

                                    }
                                }
                            }
                        });

                    });

            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    function deleteProduct(frm, Id) {
        $.ajax({
            type: "GET",
            url: "/Admin/ThuongHieu/Delete",
            data: { "Id": Id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "success") {
                    getListThuongHieu();
                    ToastNotify("Xóa dữ liệu thành công", "success");
                    frm.close();
                } else {
                    ToastNotify(data, "warning");
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }

        });
    }
    
</script>





