@foreach (var item in Model)
            {
                <ul class="no-bullets">
                    <li>
                        <a href="/User/SPTheothuonghieu?masp=@item.MATH&page=1&pageSize=6" class="text-center"> <img src="@Url.Content("~/img/" + item.LOGO)" </a>
                    </li>
                </ul>
            }