@model IEnumerable<DinoPetStore.EF.ADMIN>

@{
    ViewBag.Title = "Danh Sách Phân Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:10px">DANH SÁCH NGƯỜI QUẢN TRỊ - PHÂN QUYỀN</h2>


<div class="row form-group-sm">
    <div class="btn btn-group btn-sm col-sm-2" style="padding-top: 0px;">
        <a href="@Url.Action("Create", "AdminPQ")" class="btn btn-sm btn-success">THÊM MỚI</a>
        <a href="@Url.Action("DSQuyen", "AdminPQ")" class="btn btn-sm btn-primary" style="margin-top: 5px">DANH SÁCH PHÂN QUYỀN</a>
    </div>
</div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">QUẢN LÝ - PHÂN QUYỀN ADMIN</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="datatable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        getAdminPQ();
    });
    function getAdminPQ() {

        $.ajax({
            type: "GET",
            url: "/AdminPQ/getAdminPQ",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                    var tbl = $('#datatable').DataTable({
                        data: data,
                        searching: false,
                        stateSave: true,
                        "bDestroy": true,
                        columns: [
                            { title: 'Loại Tài Khoản', data: "TENLOAI" },
                            { title: 'Tên Admin', data: "HOTEN" },
                            {
                                title: "Chi Tiết",
                                data: null,
                                defaultContent: `<a href = "#"><i class="fa fa-edit" style = "color: blue;"></i></a>`,
                                className: 'row-edit dt-center'
                            },

                        ],

                    });

                    $('#datatable').on('click', 'tbody td.row-edit', function (e) {
                        var objData = tbl.row(this).data();
                        window.location.href = `/Admin/AdminPQ/ChiTietDSPhanQuyen?Id=${objData.MAADMIN}`;
                    });


            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }


</script>
